@media (max-width: 992px) {
  /* Reversing the behavior of the sidebar: 
       it'll be rotated vertically and off canvas by default, 
       collapsing in on toggle button click with removal of 
       the vertical rotation.   */
  #similing-yoga-sidebar {
    margin-left: -220px;
    transform: rotateY(100deg);
  }
  #similing-yoga-sidebar.active {
    margin-left: 0;
    transform: none;
  }

  /* Reversing the behavior of the bars: 
       Removing the rotation from the first,
       last bars and reappear the second bar on default state, 
       and giving them a vertical margin */
  #similing-yoga-sidebarCollapse span:first-of-type,
  #similing-yoga-sidebarCollapse span:nth-of-type(2),
  #similing-yoga-sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }

  /* Removing the vertical margin and make the first and last bars rotate again when the sidebar is open, hiding the second bar */
  #similing-yoga-sidebarCollapse.active span {
    margin: 0 auto;
  }
  #similing-yoga-sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #similing-yoga-sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #similing-yoga-sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }

  .labeltop {
    border-radius: 25px;
    margin-left: -15rem;
  }
  .blockOne {
    margin-left: -15rem;
  }
  .blockTwo {
    margin-left: -15rem;
    margin-top: -5rem;
  }

  .imageOne {
    height: 65vh;
    width: 30%;
  }
  .imageTwo {
    width: 30%;
    height: 30vh;
    left: 1%;
    top: -17.5vh;
  }
  .imageThree {
    width: 30%;
    height: 30vh;
    left: -29%;
    top: 17.5vh;
  }
  .imageFour {
    width: 30%;
    height: 30vh;
    display: inline-block;
    position: relative;
    left: 66%;
    top: -65vh;
  }
  .imageFive {
    width: 30%;
    height: 30vh;
    display: inline-block;
    position: relative;
    left: 36%;
    top: -30vh;
  }
  .button1 {
    top: -20.5vh;
    width: 102%;
    left: -1%;
    height: 14vh;
    background: #3c0044;
  }

  .music {
    width: 18%;
  }
  .button2 {
    width: 102%;
    top: 2vh;
    left: -1%;
    padding: 2%;

    background: #3c0044;
    height: 10vh;
  }
  #rowMid {
    margin-left: 5rem;
  }
  .blockThree {
    border-radius: 15px;
  }
  .blockFour {
    border-radius: 15px;
    min-height: 82%;
  }

  .blockFive {
    display: block;
    left: 10%;
    border-radius: 20px;
    margin-top: 5rem;
    top: 45vh;
    width: 85%;
  }
  .Img1 {
    top: -56vh;
  }
}
@media (max-width: 580px) {
  .blockTwo {
    margin-left: -27rem;
    margin-top: 40rem;
    margin-right: 11rem;
  }
}
